body{
  background-color: #000;
  font-family: Verdona;
  font-size: 14px;
}

#container{
  width: 75%;
  margin: 0 auto;
  background-color: #000;
  color: #fff;
  padding: 20px 40px;
  border: solid 1px #76b900;
  margin-top: 20px;
}

a{ color: #0000ff; }
